* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.services-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
}
.services .services-con .main {
  width: 200px;
  height: 200px;
}
.main img {
  width: 100%;
  height: 100%;
}
