* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  display: grid;
  height: 100%;
  place-content: center;
  background-color: #2980b9;
}
.wrapper {
  width: 400px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 20px 15px;
  /* border: 1px solid #0069d6; */
}
#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2 {
  background-color: #2980b9;
  border-color: #2980b9;
}
.wrapper .option {
  background: white;
  height: 100%;
  width: 100%;
  margin: 0 10px;
  border: 2px solid rgb(173, 168, 168);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 20px 15px;
  /* border: 1px solid #0069d6; */
}
.wrapper .option .dot {
  color: #808080;
  width: 20px;
  height: 20px;
  background: #9c9494;
  border-radius: 50%;
  position: relative;
}
#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot {
  background-color: #ebebeb;
}
.wrapper .option .dot::before {
  position: absolute;
  width: 12px;
  height: 12px;
  content: "";
  background-color: #2980b9;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  opacity: 0;
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before {
  opacity: 1;
}
.wrapper .option span {
  color: #2a2f33;
  font-size: 20px;
}
#option-1:checked ~ .option-1 span,
#option-2:checked ~ .option-2 span {
  color: #fff;
}
.wrapper input[type="radio"] {
  display: none;
}
